* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Navbar and footer styling */
.navbar {
  background-color: royalblue;
  padding: 10px 0;
  color: white;
  display: flex;
  justify-content: space-between; /* This will space out the logo and the menu */
  align-items: center; /* Vertically align the items */
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 20px;
}

.navbar ul {
  display: flex; /* This makes the navbar items appear in a row */
  list-style: none; /* Removes bullets from the list */
  margin-right: 20px;
}

.navbar ul li {
  margin-left: 20px; /* Adds space between the links */
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 16px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}
